.fi { background-size: cover; background-position: 50%; background-repeat: no-repeat; }
.fi { display: inline-block; width: 25px; height: 17px; }
.fi:before { content: " "; }
.fi { background-repeat: no-repeat; background-size: cover; }
.fi-ab { background-image: url(../flags/ab.svg) }
.fi-ace { background-image: url(../flags/ace.svg) }
.fi-ach { background-image: url(../flags/ach.svg) }
.fi-alz { background-image: url(../flags/alz.gif) }
.fi-ak { background-image: url(../flags/ak.svg) }
.fi-awa { background-image: url(../flags/awa.svg) }
.fi-ban { background-image: url(../flags/ban.svg) }
.fi-ay { background-image: url(../flags/ay.svg) }
.fi-bbc { background-image: url(../flags/bbc.svg) }
.fi-bem { background-image: url(../flags/bem.svg) }
.fi-bew { background-image: url(../flags/bew.png) }
.fi-bho { background-image: url(../flags/bho.webp) }
.fi-bik { background-image: url(../flags/bik.svg) }
.fi-bts { background-image: url(../flags/bts.svg) }
.fi-btx { background-image: url(../flags/btx.svg) }
.fi-bua { background-image: url(../flags/bua.svg) }
.fi-ceb { background-image: url(../flags/ceb.png) }
.fi-cgg { background-image: url(../flags/cgg.svg) }
.fi-chm { background-image: url(../flags/chm.svg) }
.fi-ckb { background-image: url(../flags/ckb.svg) }
.fi-cnh { background-image: url(../flags/cnh.svg) }
.fi-crh { background-image: url(../flags/crh.svg) }
.fi-crs { background-image: url(../flags/crs.svg) }
.fi-xh { background-image: url(../flags/xh.svg) }
.fi-yi { background-image: url(../flags/yi.svg) }
.fi-yo { background-image: url(../flags/yo.jpg) }
.fi-yua { background-image: url(../flags/yua.svg) }
.fi-yue { background-image: url(../flags/yue.svg) }
.fi-zu { background-image: url(../flags/zu.svg) }
.fi-zh-tw { background-image: url(../flags/zh-tw.svg) }
.fi-zh-cn { background-image: url(../flags/zh-cn.svg) }
.fi-cs { background-image: url(../flags/cs.svg) }
.fi-da { background-image: url(../flags/da.svg) }
.fi-din { background-image: url(../flags/din.svg) }
.fi-doi { background-image: url(../flags/doi.svg) }
.fi-en { background-image: url(../flags/en.svg) }
.fi-fa { background-image: url(../flags/fa.svg) }
.fi-fy { background-image: url(../flags/fy.svg) }
.fi-gaa { background-image: url(../flags/gaa.svg) }
.fi-el { background-image: url(../flags/el.svg) }
.fi-eo { background-image: url(../flags/eo.svg) }
.fi-ha { background-image: url(../flags/ha.svg) }
.fi-haw { background-image: url(../flags/haw.svg) }
.fi-ko { background-image: url(../flags/ko.svg) }
.fi-ka { background-image: url(../flags/ka.svg) }
.fi-sq { background-image: url(../flags/sq.svg) }
.fi-uk { background-image: url(../flags/uk.svg) }
.fi-ur { background-image: url(../flags/ur.svg) }
.fi-kk { background-image: url(../flags/kk.svg) }
.fi-ts { background-image: url(../flags/ts.svg) }
.fi-div { background-image: url(../flags/div.svg) }
.fi-ja { background-image: url(../flags/ja.svg) }
.fi-jv { background-image: url(../flags/jv.svg) }
.fi-mk { background-image: url(../flags/mk.svg) }
.fi-ar { background-image: url(../flags/ar.svg) }
.fi-ur { background-image: url(../flags/ur.svg) }
.fi-or { background-image: url(../flags/or.svg) }
.fi-te { background-image: url(../flags/te.png) }
.fi-ti { background-image: url(../flags/ti.png) }
.fi-zh { background-image: url(../flags/zh.svg) }
.fi-sm { background-image: url(../flags/sm.svg) }
.fi-su { background-image: url(../flags/su.webp) }
.fi-sw { background-image: url(../flags/sw.gif) }
.fi-ta { background-image: url(../flags/ta.svg) }
.fi-ga { background-image: url(../flags/ga.svg) }
.fi-ig { background-image: url(../flags/ig.svg) }
.fi-ku { background-image: url(../flags/ku.svg) }
.fi-lg { background-image: url(../flags/lg.jpg) }
.fi-ny { background-image: url(../flags/ny.svg) }
.fi-qu { background-image: url(../flags/qu.svg) }
.fi-ff { background-image: url(../flags/ff.svg) }
.fi-he { background-image: url(../flags/he.svg) }
.fi-lo { background-image: url(../flags/lo.jpg) }
.fi-oc { background-image: url(../flags/oc.svg) }
.fi-rn { background-image: url(../flags/rn.svg) }
.fi-dv { background-image: url(../flags/dv.svg) }
.fi-de { background-image: url(../flags/de.svg) }
.fi-mi { background-image: url(../flags/mi.svg) }
.fi-ln { background-image: url(../flags/ln.png) }
.fi-hi { background-image: url(../flags/hi.svg) }
.fi-hy { background-image: url(../flags/hy.svg) }
.fi-fr { background-image: url(../flags/fr.svg) }
.fi-bs { background-image: url(../flags/bs.svg) }
.fi-no { background-image: url(../flags/no.svg) }
.fi-ro { background-image: url(../flags/ro.svg) }
.fi-sl { background-image: url(../flags/sl.svg) }
.fi-tr { background-image: url(../flags/tr.svg) }
.fi-tt { background-image: url(../flags/tt.svg) }
.fi-uz { background-image: url(../flags/uz.svg) }
.fi-vi { background-image: url(../flags/vi.svg) }
.fi-lo { background-image: url(../flags/lo.svg) }
.fi-pl { background-image: url(../flags/pl.svg) }
.fi-mn { background-image: url(../flags/mn.svg) }
.fi-sr { background-image: url(../flags/sr.svg) }
.fi-th { background-image: url(../flags/th.svg) }
.fi-sk { background-image: url(../flags/sk.svg) }
.fi-lv { background-image: url(../flags/lv.svg) }
.fi-is { background-image: url(../flags/is.svg) }
.fi-hu { background-image: url(../flags/hu.svg) }
.fi-es { background-image: url(../flags/es.svg) }
.fi-az { background-image: url(../flags/az.svg) }
.fi-bg { background-image: url(../flags/bg.svg) }
.fi-ne { background-image: url(../flags/ne.svg) }
.fi-mg { background-image: url(../flags/mg.svg) }
.fi-pt { background-image: url(../flags/pt.svg) }
.fi-be { background-image: url(../flags/be.svg) }
.fi-lt { background-image: url(../flags/lt.svg) }
.fi-sv { background-image: url(../flags/sv.svg) }
.fi-nl { background-image: url(../flags/nl.svg) }
.fi-ru { background-image: url(../flags/ru.svg) }
.fi-ug { background-image: url(../flags/ug.svg) }
.fi-ps { background-image: url(../flags/ps.svg) }
.fi-pa { background-image: url(../flags/pa.svg) }
.fi-om { background-image: url(../flags/om.svg) }
.fi-rw { background-image: url(../flags/rw.svg) }
.fi-sd { background-image: url(../flags/sd.svg) }
.fi-sg { background-image: url(../flags/sg.svg) }
.fi-si { background-image: url(../flags/si.svg) }
.fi-sn { background-image: url(../flags/sn.svg) }
.fi-so { background-image: url(../flags/so.svg) }
.fi-ss { background-image: url(../flags/ss.svg) }
.fi-st { background-image: url(../flags/st.svg) }
.fi-tg { background-image: url(../flags/tg.svg) }
.fi-tl { background-image: url(../flags/tl.svg) }
.fi-tn { background-image: url(../flags/tn.svg) }
.fi-ee { background-image: url(../flags/ee.svg) }
.fi-dz { background-image: url(../flags/dz.svg) }
.fi-cy { background-image: url(../flags/cy.svg) }
.fi-cv { background-image: url(../flags/cv.svg) }
.fi-co { background-image: url(../flags/co.svg) }
.fi-ca { background-image: url(../flags/ca.svg) }
.fi-br { background-image: url(../flags/br.svg) }
.fi-bn { background-image: url(../flags/bn.svg) }
.fi-bm { background-image: url(../flags/bm.svg) }
.fi-sa { background-image: url(../flags/sa.png) }
.fi-ba { background-image: url(../flags/ba.svg) }
.fi-as { background-image: url(../flags/as.svg) }
.fi-am { background-image: url(../flags/am.svg) }
.fi-af { background-image: url(../flags/af.svg) }
.fi-eu { background-image: url(../flags/eu.svg) }
.fi-ky { background-image: url(../flags/ky.svg) }
.fi-kn { background-image: url(../flags/kn.svg) }
.fi-tk { background-image: url(../flags/tk.svg) }
.fi-la { background-image: url(../flags/la.svg) }
.fi-my { background-image: url(../flags/my.svg) }
.fi-ml { background-image: url(../flags/ml.svg) }
.fi-fj { background-image: url(../flags/fj.svg) }
.fi-et { background-image: url(../flags/et.svg) }
.fi-li { background-image: url(../flags/li.svg) }
.fi-lb { background-image: url(../flags/lb.svg) }
.fi-mr { background-image: url(../flags/mr.svg) }
.fi-mt { background-image: url(../flags/mt.svg) }
.fi-ms { background-image: url(../flags/ms.svg) }
.fi-ht { background-image: url(../flags/ht.svg) }
.fi-hr { background-image: url(../flags/hr.svg) }
.fi-fi { background-image: url(../flags/fi.svg) }
.fi-id { background-image: url(../flags/id.svg) }
.fi-it { background-image: url(../flags/it.svg) }
.fi-nr { background-image: url(../flags/nr.svg) }
.fi-km { background-image: url(../flags/km.svg) }
.fi-gu { background-image: url(../flags/gu.svg) }
.fi-gn { background-image: url(../flags/gn.svg) }
.fi-gl { background-image: url(../flags/gl.svg) }
.fi-gd { background-image: url(../flags/gd.svg) }