.fi { background-size: cover; background-position: 50%; background-repeat: no-repeat; }
.fi { display: inline-block; width: 25px; height: 17px; border-radius: 3px; }
.fi:before { content: " "; }
.fi { background-repeat: no-repeat; background-size: cover; }
.fi-ab { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ab.svg) }
.fi-ace { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ace.svg) }
.fi-ach { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ach.svg) }
.fi-alz { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/alz.gif) }
.fi-ak { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ak.svg) }
.fi-awa { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/awa.svg) }
.fi-ban { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ban.svg) }
.fi-ay { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ay.svg) }
.fi-bbc { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bbc.svg) }
.fi-bem { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bem.svg) }
.fi-bew { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bew.png) }
.fi-bho { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bho.webp) }
.fi-bik { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bik.svg) }
.fi-bts { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bts.svg) }
.fi-btx { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/btx.svg) }
.fi-bua { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bua.svg) }
.fi-ceb { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ceb.png) }
.fi-cgg { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/cgg.svg) }
.fi-chm { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/chm.svg) }
.fi-ckb { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ckb.svg) }
.fi-cnh { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/cnh.svg) }
.fi-crh { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/crh.svg) }
.fi-crs { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/crs.svg) }
.fi-xh { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/xh.svg) }
.fi-yi { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/yi.svg) }
.fi-yo { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/yo.png) }
.fi-yua { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/yua.svg) }
.fi-yue { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/yue.svg) }
.fi-zu { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/zu.svg) }
.fi-zh-tw { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/zh-tw.svg) }
.fi-zh-cn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/zh-cn.svg) }
.fi-cs { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/cs.svg) }
.fi-da { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/da.svg) }
.fi-din { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/din.svg) }
.fi-doi { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/doi.svg) }
.fi-en { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/en.svg) }
.fi-fa { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/fa.svg) }
.fi-fy { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/fy.svg) }
.fi-gaa { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/gaa.svg) }
.fi-el { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/el.svg) }
.fi-eo { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/eo.svg) }
.fi-ha { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ha.svg) }
.fi-haw { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/haw.svg) }
.fi-ko { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ko.svg) }
.fi-ka { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ka.svg) }
.fi-sq { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sq.svg) }
.fi-uk { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/uk.svg) }
.fi-ur { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ur.svg) }
.fi-kk { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/kk.svg) }
.fi-ts { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ts.svg) }
.fi-div { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/div.svg) }
.fi-ja { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ja.svg) }
.fi-jv { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/jv.svg) }
.fi-mk { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/mk.svg) }
.fi-ar { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ar.svg) }
.fi-ur { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ur.svg) }
.fi-or { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/or.svg) }
.fi-te { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/te.png) }
.fi-ti { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ti.png) }
.fi-zh { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/zh.svg) }
.fi-sm { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sm.svg) }
.fi-su { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/su.webp) }
.fi-sw { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sw.png) }
.fi-ta { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ta.svg) }
.fi-ga { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ga.svg) }
.fi-ig { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ig.svg) }
.fi-ku { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ku.svg) }
.fi-lg { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/lg.jpg) }
.fi-ny { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ny.svg) }
.fi-qu { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/qu.svg) }
.fi-ff { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ff.svg) }
.fi-he { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/he.svg) }
.fi-lo { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/lo.jpg) }
.fi-oc { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/oc.svg) }
.fi-rn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/rn.svg) }
.fi-dv { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/dv.svg) }
.fi-de { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/de.svg) }
.fi-mi { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/mi.svg) }
.fi-ln { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ln.png) }
.fi-hi { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/hi.svg) }
.fi-hy { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/hy.svg) }
.fi-fr { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/fr.svg) }
.fi-bs { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bs.svg) }
.fi-no { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/no.svg) }
.fi-ro { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ro.svg) }
.fi-sl { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sl.svg) }
.fi-tr { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/tr.svg) }
.fi-tt { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/tt.svg) }
.fi-uz { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/uz.svg) }
.fi-vi { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/vi.svg) }
.fi-lo { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/lo.svg) }
.fi-pl { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/pl.svg) }
.fi-mn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/mn.svg) }
.fi-sr { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sr.png) }
.fi-th { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/th.svg) }
.fi-sk { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sk.svg) }
.fi-lv { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/lv.svg) }
.fi-is { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/is.svg) }
.fi-hu { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/hu.svg) }
.fi-es { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/es.svg) }
.fi-az { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/az.svg) }
.fi-bg { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bg.svg) }
.fi-ne { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ne.svg) }
.fi-mg { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/mg.svg) }
.fi-pt { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/pt.svg) }
.fi-be { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/be.svg) }
.fi-lt { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/lt.svg) }
.fi-sv { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sv.svg) }
.fi-nl { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/nl.svg) }
.fi-ru { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ru.svg) }
.fi-ug { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ug.svg) }
.fi-ps { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ps.svg) }
.fi-pa { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/pa.svg) }
.fi-om { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/om.svg) }
.fi-rw { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/rw.svg) }
.fi-sd { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sd.svg) }
.fi-sg { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sg.svg) }
.fi-si { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/si.svg) }
.fi-sn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sn.svg) }
.fi-so { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/so.svg) }
.fi-ss { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ss.svg) }
.fi-st { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/st.svg) }
.fi-tg { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/tg.svg) }
.fi-tl { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/tl.svg) }
.fi-tn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/tn.svg) }
.fi-ee { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ee.svg) }
.fi-dz { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/dz.svg) }
.fi-cy { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/cy.svg) }
.fi-cv { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/cv.svg) }
.fi-co { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/co.svg) }
.fi-ca { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ca.svg) }
.fi-br { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/br.svg) }
.fi-bn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bn.svg) }
.fi-bm { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/bm.svg) }
.fi-sa { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/sa.png) }
.fi-ba { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ba.svg) }
.fi-as { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/as.svg) }
.fi-am { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/am.svg) }
.fi-af { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/af.svg) }
.fi-eu { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/eu.svg) }
.fi-ky { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ky.svg) }
.fi-kn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/kn.png) }
.fi-tk { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/tk.svg) }
.fi-la { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/la.svg) }
.fi-my { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/my.svg) }
.fi-ml { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ml.svg) }
.fi-fj { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/fj.svg) }
.fi-et { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/et.svg) }
.fi-li { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/li.svg) }
.fi-lb { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/lb.svg) }
.fi-mr { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/mr.svg) }
.fi-mt { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/mt.svg) }
.fi-ms { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ms.svg) }
.fi-ht { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/ht.svg) }
.fi-hr { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/hr.svg) }
.fi-fi { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/fi.svg) }
.fi-id { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/id.svg) }
.fi-it { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/it.svg) }
.fi-nr { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/nr.svg) }
.fi-km { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/km.svg) }
.fi-gu { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/gu.svg) }
.fi-gn { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/gn.svg) }
.fi-gl { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/gl.svg) }
.fi-gd { background-image: url(https://mewcrazy.github.io/StripChat-Enhanced/flags/gd.svg) }