.fi { background-size: cover; background-position: 50%; background-repeat: no-repeat; }
.fi { display: inline-block; width: 25px; height: 17px; }
.fi:before { content: " "; }
.fi { background-repeat: no-repeat; background-size: cover; }
.fi-ab { background-image: url(../flags/ab.svg) }
.fi-ace { background-image: url(../flags/ace.svg) }
.fi-ach { background-image: url(../flags/ach.svg) }
.fi-alz { background-image: url(../flags/alz.gif) }
.fi-ak { background-image: url(../flags/ak.svg) }
.fi-awa { background-image: url(../flags/awa.svg) }
.fi-ban { background-image: url(../flags/ban.svg) }
.fi-ay { background-image: url(../flags/ay.svg) }
.fi-bbc { background-image: url(../flags/bbc.svg) }
.fi-bem { background-image: url(../flags/bem.svg) }
.fi-bew { background-image: url(../flags/bew.png) }
.fi-bho { background-image: url(../flags/bho.webp) }
.fi-bik { background-image: url(../flags/bik.svg) }
.fi-bts { background-image: url(../flags/bts.svg) }
.fi-btx { background-image: url(../flags/btx.svg) }
.fi-bua { background-image: url(../flags/bua.svg) }
.fi-ceb { background-image: url(../flags/ceb.png) }
.fi-cgg { background-image: url(../flags/cgg.svg) }
.fi-chm { background-image: url(../flags/chm.svg) }
.fi-ckb { background-image: url(../flags/ckb.svg) }
.fi-cnh { background-image: url(../flags/cnh.svg) }
.fi-crh { background-image: url(../flags/crh.svg) }
.fi-crs { background-image: url(../flags/crs.svg) }
.fi-xh { background-image: url(../flags/xh.svg) }
.fi-yi { background-image: url(../flags/yi.svg) }
.fi-yo { background-image: url(../flags/yo.jpg) }
.fi-yua { background-image: url(../flags/yua.svg) }
.fi-yue { background-image: url(../flags/yue.svg) }
.fi-zu { background-image: url(../flags/zu.svg) }
.fi-zh-tw { background-image: url(../flags/zh-tw.svg) }
.fi-zh-cn { background-image: url(../flags/zh-cn.svg) }
.fi-cs { background-image: url(../flags/cs.svg) }
.fi-da { background-image: url(../flags/da.svg) }
.fi-din { background-image: url(../flags/din.svg) }
.fi-doi { background-image: url(../flags/doi.svg) }
.fi-en { background-image: url(../flags/en.svg) }
.fi-fa { background-image: url(../flags/fa.svg) }
.fi-fy { background-image: url(../flags/fy.svg) }
.fi-gaa { background-image: url(../flags/gaa.svg) }
.fi-el { background-image: url(../flags/el.svg) }
.fi-eo { background-image: url(../flags/eo.svg) }
.fi-ha { background-image: url(../flags/ha.svg) }
.fi-haw { background-image: url(../flags/haw.svg) }
.fi-ko { background-image: url(../flags/ko.svg) }
.fi-ka { background-image: url(../flags/ka.svg) }
.fi-sq { background-image: url(../flags/sq.svg) }
.fi-uk { background-image: url(../flags/uk.svg) }
.fi-ur { background-image: url(../flags/ur.svg) }
.fi-kk { background-image: url(../flags/kk.svg) }
.fi-ts { background-image: url(../flags/ts.svg) }
.fi-div { background-image: url(../flags/div.svg) }
.fi-ja { background-image: url(../flags/ja.svg) }
.fi-jv { background-image: url(../flags/jv.svg) }
.fi-mk { background-image: url(../flags/mk.svg) }
.fi-ar { background-image: url(../flags/ar.svg) }
.fi-ur { background-image: url(../flags/ur.svg) }
.fi-or { background-image: url(../flags/or.svg) }
.fi-te { background-image: url(../flags/te.png) }
.fi-ti { background-image: url(../flags/ti.png) }
.fi-zh { background-image: url(../flags/zh.svg) }
.fi-sm { background-image: url(../flags/sm.svg) }
.fi-su { background-image: url(../flags/su.webp) }
.fi-sw { background-image: url(../flags/sw.gif) }
.fi-ta { background-image: url(../flags/ta.svg) }
.fi-ga { background-image: url(../flags/ga.svg) }
.fi-ig { background-image: url(../flags/ig.svg) }
.fi-ku { background-image: url(../flags/ku.svg) }
.fi-lg { background-image: url(../flags/lg.jpg) }
.fi-ny { background-image: url(../flags/ny.svg) }
.fi-qu { background-image: url(../flags/qu.svg) }
.fi-ff { background-image: url(../flags/ff.svg) }
.fi-he { background-image: url(../flags/he.svg) }
.fi-lo { background-image: url(../flags/lo.jpg) }
.fi-oc { background-image: url(../flags/oc.svg) }
.fi-rn { background-image: url(../flags/rn.svg) }
.fi-dv { background-image: url(../flags/dv.svg) }
.fi-de { background-image: url(../flags/de.svg) }
.fi-mi { background-image: url(../flags/mi.svg) }
.fi-ln { background-image: url(../flags/ln.png) }
.fi-hi { background-image: url(../flags/hi.svg) }
.fi-hy { background-image: url(../flags/hy.svg) }
.fi-fr { background-image: url(../flags/fr.svg) }
.fi-bs { background-image: url(../flags/bs.svg) }
.fi-no { background-image: url(../flags/no.svg) }
.fi-ro { background-image: url(../flags/ro.svg) }
.fi-sl { background-image: url(../flags/sl.svg) }
.fi-tr { background-image: url(../flags/tr.svg) }
.fi-tt { background-image: url(../flags/tt.svg) }
.fi-uz { background-image: url(../flags/uz.svg) }
.fi-vi { background-image: url(../flags/vi.svg) }
.fi-lo { background-image: url(../flags/lo.svg) }