/* loading spinner */
.se-loader {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    border: 5px solid #aaa;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotate 1s linear infinite;
}
button + .se-loader { display: none; }
.se-loader-line {
  width:2px;
  height:12px;
  background-color:rgb(248, 248, 248, 0.3);;
  position: absolute;
  top:calc(50% - 6px);
  left:48px;
  animation:rotate 3s linear 0s infinite normal forwards running;
}
@keyframes rotate {
  0% { transform:rotate(0deg) }
  100% { transform:rotate(360deg) }
}



/* emoji */
.SmilesWidget__content_default-emojis .se-emoji-list { height: 138px; }
.SmilesWidget__content_default-emojis .active-smile { font-size: 24px; font-family: "Noto Color Emoji"; font-variant-emoji: unicode; width: 31px; padding: 8px 0; }
.emoji-categories { display: flex; justify-content: space-between; }

/* enhanced options */
.enhanced-options-content { align-items: center; padding: 20px }
.enhanced-options-content label { text-align: left; }

/* language picker */
.se-langpicker { opacity: .6; text-align: center; width: 24px; height: 24px; position: absolute; bottom: 1.25em; left: 1.25em; z-index: 1 }
.se-langpicker:hover { opacity: 1; }
.se-langpicker option { text-align: center; font-size: 1.35em }
.se-langpicker .fi { margin-top: 3px; border: 1px solid rgba(255, 255, 255, .25); }
.se-langpicker span+svg { display: none !important }
.model-chat-input input, .chat-input textarea { padding-left: 25px }

/* language chooser */
.language-chooser { bottom: 60px; display: flex; max-height: 80%; position: absolute; width: 100%; z-index: 2; overflow: hidden }
.language-chooser > div { height: 275px }
.language-chooser .title-block { justify-content: none; gap: 30px }
.language-chooser .title-block .search { flex-grow: 1 }
.messenger-chats .language-chooser { bottom: 0; }
.messenger-chats [class*="SmilesWidgetContainer__closeBtn"] { margin: -6px -6px -6px -10px }
.language-list { margin: 0 -10px; }
.language-list > .flag { background: none; outline: 0; border: 0; font-size: 1.35em; margin: 3px; cursor: pointer; line-height: 1; padding: 4px 6px 3px 6px; }
.language-list > .flag.active { border: 1px solid #fff }
input[type="search"].input.language-search { background: rgba(0,0,0,.2); padding: 10px 15px; height: 30px; border-radius: 15px }
input[type="search"].input.language-search:hover { background: rgba(0,0,0,1) }

/* hide user button */
.HideUserButton svg { height: 20px; width: 20px; }

/* Translate chat */
.translated-line + .translate-line { visibility: hidden !important; pointer-events: none; }
.message-body .translate-line button { display: inline; }
.translated-line { padding-left: 7px; }
.m-bg-public-tip .translate-line button { margin: 0 10px; }
.message-body .translate-line { visibility: hidden; }
.message-body:hover .translate-line { visibility: visible; }
[class*="ViewCamGroup__description"] .translate-line { padding-left: 5px; }
[class*="ViewCamGroup__description"] .translate-line + .translated-line { display: none; }

/* translate topic */
.view-cam-info-goal__title.view-cam-info-topic { display: inline !important }
.view-cam-info-goal .translated-line { padding: 0; display: inline-block; color: rgba(248, 248, 248, 0.8) }

/* Show time in website header */
.personal-notifications-modal.enhanced-options-modal { z-index: 314 }
.personal-notifications-modal-panel .current-time { padding: 0 14px; }

/* emoji picker */
.model-chat__smiles-block [class*="SmilesWidgetContainer__titleBlock"] { justify-content: flex-start; }
.model-chat__smiles-block [class*="SmilesWidgetContainer__title"] { flex-grow: 1; }
.switch-emoji-style { text-decoration: none; margin: 0 0 0 1em; padding: 10px 12px; font-size: 13px; font-weight: 500; line-height: 20px; }
.switch-emoji-style:hover { background: #1f1f1f; }
.emoji-categories { margin: 1em 0; }
.se-emoji-cat a { text-indent: -9999px; display: block; width: 32px; height: 32px; background-repeat: no-repeat; background-size: contain; }
.se-emoji-cat_recent { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/recent.svg) }
.se-emoji-cat_people { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/people.svg) }
.se-emoji-cat_nature { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/nature.svg) }
.se-emoji-cat_foods { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/foods.svg) }
.se-emoji-cat_activity { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/activity.svg) }
.se-emoji-cat_places { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/people.svg) }
.se-emoji-cat_objects { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/objects.svg) }
.se-emoji-cat_symbols { }
.se-emoji-cat_flags { background: url(https://mewcrazy.github.io/StripChat-Enhanced/icons/flags.svg) }