/* structure*/
html, body { min-width: 320px; max-width: 100%; height: 4rem; margin: 0; }
body { background: #303133; color: rgba(248, 248, 248, 0.6); font-family: Inter, "Helvetica Neue", Roboto, Arial, Helvetica, sans-serif; font-feature-settings: "liga" 1, "calt" 1; font-size-adjust: 0.54; }
header { background-color: #141415; min-height: 42px; font-size: .75rem; display: flex; flex-direction: row; }
.footer-text { font-size: 0.75rem;}

/* typography */
a { color: rgb(248, 248, 248); font-size: 13px; line-height: 18px; margin: 8px 0px 0px; text-decoration: none; transition: color 0.3s ease; }
a:hover { color: rgba(248, 248, 248, 0.66); }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { color: rgb(248, 248, 248); font-size: 18px; font-weight: 500; letter-spacing: normal; line-height: 23px; }

/* forms */
.form-signin .form-control { background: #000; border: 1px solid #000; border-radius: 20px; color: #f8f8f8; display: inline-block; min-height: 30px; height: 30px; line-height: 20px; padding: 5px 15px; font-size: .75rem; transition: 120ms ease-in-out; margin: 0 0 0.5em 0; }
.form-signin .form-control::placeholder { color: rgba(248, 248, 248, 0.33); }
.form-signin .form-floating>label { color: rgba(248, 248, 248, 0.33); line-height: 20px; font-size: .75rem; padding: 5px 15px; }
.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label { transform: scale(0.85) translateY(-0.25rem) translateX(0.15rem); }
.form-signin { max-width: 85%; padding: 15px; margin: auto; }
.form-signin .checkbox { font-weight: 400; }

/* buttons */
.btn-primary { align-items: center; border-radius: 16px; display: flex; flex-direction: row; font-size: 14px; font-weight: 500; justify-content: center; line-height: 16px; margin: 0; min-height: 32px; padding: 6px 14px; text-decoration: none; color: rgb(241, 241, 241); background: rgb(91, 91, 91); transition: 90ms ease-in-out; border-color: transparent; }
.btn-primary:hover { color: rgb(65, 65, 65); background: rgb(255, 255, 255); border-color: transparent; }

/* logged in */
header.logged-in  { display: flex; }
header.logged-in img { flex: 1; max-width: 150px; }
header.logged-in nav { display: block; }
.hidden { display: none; }

/* notices */
.error { background: rgba(162, 37, 45, .66); letter-spacing: 0.03em; text-align: center; color: #fff; cursor: pointer; padding: 5px; font-size: .65rem; line-height: 1rem; border-radius: 20px; margin-bottom: 10px; transition: background-color .6s ease; }
.error a { color: inherit; text-decoration: underline; }
.error:hover { background: rgba(162, 37, 45, 1); }